<input type = "text" name="" [(ngModel)]="searchTerm">
<div>Input value: {{testModel}} </div>

<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Remove Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts | customPipe:searchTerm">
        <th scope="row">1</th>
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.email | uppercase | lowercase }}</td>
        <td>
            <button class='btn btn-danger' (click)="removeContact(contact)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>


